<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
  
  <system.web>
    <customErrors mode="Off" />
  </system.web>

  <system.web>
    <authentication mode="Windows" />
    <authorization>
      <!--<allow users="SC_NET\Deepak.Begrajka" />-->
      <allow users="*" />
      
    </authorization>
    <profile>
    <properties>
      
      <add name="firstName" type="string" />
      <add name="lastName" type="string" />
      <add name="DOB" type="DateTime" />
      <add name="favoriteIceCream" type="string" />
    </properties>
  </profile>
  </system.web>
  
  <appSettings>
    <add key="cmrServerURL" value="http://co1-crm-01/DEV05/XRMServices/2011/Organization.svc" />
    <add key="crmOrg" value="DEV05" />
    <add key="crmDomain" value="scnet.com" />
    <add key="crmUserName" value="deepak.begrajka" />
    <add key="crmPassword" value="Dawn007@" />
    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xrm.Sdk" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>

    <defaultDocument>
      <files>
        <add value="map.aspx" />
      </files>
    </defaultDocument>

    
    
  </system.webServer>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBillingPointService">
          <security mode="TransportWithMessageCredential" />
        </binding>
        <binding name="BasicHttpBinding_ISubscriptionService">
          <security mode="TransportWithMessageCredential" />
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="WebHttpBinding_IBillingPointServiceRest">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
        <binding name="WebHttpBinding_ISubscriptionServiceRest">
          <!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'http://hickorytech.com/suitesolution/client/service':    -->
          <!--    <wsdl:binding name='WebHttpBinding_ISubscriptionServiceRest'>    -->
          <!--        <http:BasicAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http">..</http:BasicAuthentication>    -->
          <!--        <sp:HttpsToken xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">..</sp:HttpsToken>    -->
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://col-uat-ss1:8018/BillingPointService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBillingPointService"
        contract="BillingPointService.IBillingPointService" name="BasicHttpBinding_IBillingPointService" />
      <endpoint binding="customBinding" bindingConfiguration="WebHttpBinding_IBillingPointServiceRest"
        contract="BillingPointService.IBillingPointServiceRest" name="WebHttpBinding_IBillingPointServiceRest" />
      <endpoint address="https://col-uat-ss1:8018/SubscriptionService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISubscriptionService"
        contract="Subscription.ISubscriptionService" name="BasicHttpBinding_ISubscriptionService" />
      <endpoint binding="customBinding" bindingConfiguration="WebHttpBinding_ISubscriptionServiceRest"
        contract="Subscription.ISubscriptionServiceRest" name="WebHttpBinding_ISubscriptionServiceRest" />
    </client>
  </system.serviceModel>
</configuration>
