<?xml version="1.0" encoding="utf-8"?>
 <appSettings>
   <!-- Does Not Change Per Build-->
   <add key="appDomain" value="ad.segra.com"/>
   <!--update client id and secret value for tokken url in GetEsriGeoCodeTokken() method-->
   <!--tokken client id =YzVigbD9Tdj0bPfV -->
   <!--tokken secret value =7250ba7746a9417889fd82b7ff271fbf -->
   <add key="tokkenUrl" value="https://www.arcgis.com/sharing/oauth2/token?"/>
   <add key="baseURL" value="https://segra-test.aro.altvil.com"/>
   <add key="reverseURL" value="https://geocode.arcgis.com/arcgis/rest/services/World/GeocodeServer"/>
   <!--************************Environment Vaiables**start************************** -->
   <!-- 1)-->
   <add key="Environment" value="Green(DEV)"/> 
   <add key="locationUrl" value="https://gismapsdev.ad.segra.com/portal/home/webmap/viewer.html?webmap=0f69067698aa4cc7b82049fd86f45fa2"/>
   <add key="portalUrl" value="https://gismapsdev.ad.segra.com/portal/"/>
   <!-- 2)-->
   <add key="mapId" value="0f69067698aa4cc7b82049fd86f45fa2"/>
   <!-- 3)-->
   <add key="redirectSrc" value="https://segradyngrn.crm.dynamics.com"/>
   <!-- 4)-->
   <add key="organizationUri" value="https://segradyngrn.api.crm.dynamics.com/XRMServices/2011/Organization.svc"/>
   <!-- 5)-->
   <add key="clientId" value="de9285af-14c4-46df-b3a8-b8fa73456f00"/>
   <!-- 6)-->
   <add key="clientSecret" value="OVH8Q~U8r.k6dvFDsS465GQzaL5v0hTtmCrGecOz"/>
   <!--************************Environment Vaiables**end************************** -->
  </appSettings>