<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<appSettings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add key="Environment" value="Green(DEV)" xdt:Transform="Replace"  xdt:Locator="Match(key)" />
  <add key="locationUrl" value="https://gismapsdev.ad.segra.com/portal/home/webmap/viewer.html?webmap=0f69067698aa4cc7b82049fd86f45fa2" xdt:Transform="Replace"  xdt:Locator="Match(key)"/>
  <add key="portalUrl" value="https://gismapsdev.ad.segra.com/portal/" xdt:Transform="Replace"  xdt:Locator="Match(key)"/>
  <add key="mapId" value="0f69067698aa4cc7b82049fd86f45fa2" xdt:Transform="Replace"  xdt:Locator="Match(key)"/>
  <add key="redirectSrc" value="https://segradyngrn.crm.dynamics.com" xdt:Transform="Replace"  xdt:Locator="Match(key)"/>
  <add key="organizationUri" value="https://segradyngrn.api.crm.dynamics.com/XRMServices/2011/Organization.svc" xdt:Transform="Replace"  xdt:Locator="Match(key)"/>
  <add key="clientId" value="de9285af-14c4-46df-b3a8-b8fa73456f00" xdt:Transform="Replace"  xdt:Locator="Match(key)"/>
  <add key="clientSecret" value="OVH8Q~U8r.k6dvFDsS465GQzaL5v0hTtmCrGecOz" xdt:Transform="Replace"  xdt:Locator="Match(key)"/>
  <add key="tokkenUrl" value="https://www.arcgis.com/sharing/oauth2/token?" xdt:Transform="Replace"  xdt:Locator="Match(key)"/>
</appSettings>