<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<appSettings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add key="Environment" value="Yellow(UAT)" xdt:Transform="Replace"  xdt:Locator="Match(key)" />
  <add key="locationUrl" value="https://gismapsuat.ad.segra.com/portal/home/webmap/viewer.html?webmap=e853a4b052fb47aa98160c3a832b79bf" xdt:Transform="Replace"  xdt:Locator="Match(key)"/>
  <add key="portalUrl" value="https://gismapsuat.ad.segra.com/portal/" xdt:Transform="Replace"  xdt:Locator="Match(key)"/>
  <add key="mapId" value="e853a4b052fb47aa98160c3a832b79bf" xdt:Transform="Replace"  xdt:Locator="Match(key)"/>
  <add key="redirectSrc" value="https://segradynuat.crm.dynamics.com" xdt:Transform="Replace"  xdt:Locator="Match(key)"/>
  <add key="organizationUri" value="https://segradynuat.api.crm.dynamics.com/XRMServices/2011/Organization.svc" xdt:Transform="Replace"  xdt:Locator="Match(key)"/>
  <add key="clientId" value="e198a149-19f7-4d42-9976-91e57b11c961" xdt:Transform="Replace"  xdt:Locator="Match(key)"/>
  <add key="clientSecret" value="8dy8Q~~uMLWSgUynrlo3KjTG.9O8mOWkbbUuJae~" xdt:Transform="Replace"  xdt:Locator="Match(key)"/>
  <add key="tokkenUrl" value="https://www.arcgis.com/sharing/oauth2/token?" xdt:Transform="Replace"  xdt:Locator="Match(key)"/>
</appSettings>